In [394]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [395]:
pip install rapidfuzz

Requirement already satisfied: rapidfuzz in /Users/sachaapelbaum/opt/anaconda3/lib/python3.9/site-packages (2.13.7)
Note: you may need to restart the kernel to use updated packages.

In [396]:
import rapidfuzz

In [397]:
from rapidfuzz.distance import Levenshtein

In [514]:
dfA = pd.read_csv('/Users/sachaapelbaum/Downloads/transactions_A.csv',sep= ",")
dfB = pd.read_csv('/Users/sachaapelbaum/Downloads/transactions_B.csv',sep= ",")

In [515]:
dfB.head()

,tx_id,sender_account_id,receiver_account_id,tx_amount,timestamp,tx_type,sender_bank_id,sender_first_name,sender_last_name,sender_country_code,sender_birth_date,sender_zip_code,receiver_bank_id,receiver_first_name,receiver_last_name,receiver_country_code,receiver_birth_date,receiver_zip_code,is_alert_solo,is_alert_pooled
0,1364,NaN,595.0,129.41,2018-03-03,WIRE,C,Jonathan,Smith,FR,1944-08-29,13300,B,Shannon,Bailey,FR,1973-06-02,54210,False,False
1,4318,785.0,8854.0,129.66,2018-03-03,WIRE,B,Harry,Alfano,FR,1939-02-03,25250,B,John,Adkins,FR,1958-11-07,20171,False,False
2,4319,785.0,NaN,129.66,2018-03-03,WIRE,B,Harry,Alfano,FR,1939-02-03,25250,A,Jason,Arsenault,FR,1935-03-03,51240,False,False
3,2549,7795.0,NaN,189.25,2018-03-03,WIRE,B,Mark,Sauders,FR,1920-12-31,91640,C,Nicholas,Omersa,FR,1921-06-29,36290,False,False
4,4320,785.0,NaN,129.66,2018-03-03,WIRE,B,Harry,Alfano,FR,1939-02-03,25250,A,Wilhelmina,Eberhardt,FR,1941-04-25,77440,False,False

In [516]:
dfA_bis = dfA.copy()
dfB_bis = dfB.copy()

In [517]:
df_A_old= dfA_bis[dfA_bis["sender_bank_id"] != "C"]
df_A_old = df_A[df_A["receiver_bank_id"] != "C"]

In [518]:
df_B_old = dfB_bis[dfB_bis["sender_bank_id"] != "C"]
df_B_old = df_B[df_B["receiver_bank_id"] != "C"]

In [519]:
df_B_old["sender_birth_date"].value_counts().mean()

70.1020461699895

In [520]:
df_A = df_A_old.reset_index(drop = True)
df_B= df_B_old.reset_index(drop = True)

In [521]:
df_B

,index,tx_id,sender_account_id,receiver_account_id,tx_amount,timestamp,tx_type,sender_bank_id,sender_first_name,sender_last_name,...,receiver_last_name,receiver_country_code,receiver_birth_date,receiver_zip_code,is_alert_solo,is_alert_pooled,pivot,lev,matching,distlev
0,1,4318,785.0,8854.0,129.66,2018-03-03,WIRE,B,Harry,Alfano,...,Adkins,FR,1958-11-07,20171,False,False,1939-02-03,HarryAlfano1939-02-03JohnAdkins1958-11-07129.6...,0,5
1,2,4319,785.0,NaN,129.66,2018-03-03,WIRE,B,Harry,Alfano,...,Arsenault,FR,1935-03-03,51240,False,False,1939-02-03,HarryAlfano1939-02-03JasonArsenault1935-03-031...,0,5
2,3,4320,785.0,NaN,129.66,2018-03-03,WIRE,B,Harry,Alfano,...,Eberhardt,FR,1941-04-25,77440,False,False,1939-02-03,HarryAlfano1939-02-03WilhelminaEberhardt1941-0...,0,5
3,4,1028,1595.0,3504.0,449.69,2018-03-03,WIRE,B,Richard,Cunningham,...,Zepeda,FR,1928-02-24,6450,False,False,1919-04-21,RichardCunningham1919-04-21RussellZepeda1928-0...,0,5
4,5,4321,785.0,NaN,129.66,2018-03-03,WIRE,B,Harry,Alfano,...,Deans,FR,1942-08-28,65510,False,False,1939-02-03,HarryAlfano1939-02-03EdithDeans1942-08-28129.6...,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267224,267225,1319838,1414.0,3305.0,521.65,2021-12-25,CHECK,B,Joseph,Davis,...,Mcgeorge,FR,1954-08-23,56420,False,False,1943-11-28,JosephDavis1943-11-28DarylMcgeorge1954-08-2352...,0,5
267225,267226,1317989,2784.0,1624.0,163.36,2021-12-25,WIRE,B,Jason,Scarlato,...,Williams,FR,1964-06-16,82340,False,False,1929-11-15,JasonScarlato1929-11-15TraceyWilliams1964-06-1...,0,5
267226,267227,1322359,NaN,9145.0,513.78,2021-12-25,WIRE,A,Sean,Dunn,...,Lakey,FR,1956-04-07,7000,False,False,1959-06-16,SeanDunn1959-06-16MorganLakey1956-04-07513.782...,0,5
267227,267228,1317568,5624.0,4994.0,109.41,2021-12-25,WIRE,B,Molly,Rady,...,Willis,FR,1928-03-01,10140,False,False,1938-09-21,MollyRady1938-09-21AndrewWillis1928-03-01109.4...,0,5
267228,267229,1319710,9694.0,9795.0,105.93,2021-12-25,WIRE,B,Mary,Camacho,...,Tapia,FR,1931-03-11,85320,False,False,1943-04-08,MaryCamacho1943-04-08LindaTapia1931-03-11105.9...,0,5

In [522]:
def interm_pivot(columns):
    for col in columns:
        df_A[col].apply(lambda x:str(x))
        df_B[col].apply(lambda x:str(x))
    df_A["pivot"] = df_A[columns].apply(lambda x: ''.join(x), axis = 1)
    df_B["pivot"] = df_B[columns].apply(lambda x: ''.join(x), axis = 1) 
    return df_A,df_B

In [523]:
def interm_lev(columns):
    for col in columns:
        df_A[col].apply(lambda x:str(x))
        df_B[col].apply(lambda x:str(x))
        # Conversion de la colonne 'colonne_float' en string
        df_A['tx_amount'] = df_A['tx_amount'].astype(str)
        df_B['tx_amount'] = df_B['tx_amount'].astype(str)
    df_A["lev"] = df_A[columns].apply(lambda x: ''.join(x), axis = 1)
    df_B["lev"] = df_B[columns].apply(lambda x: ''.join(x), axis = 1) 
    return df_A,df_B

In [524]:
interm_pivot(columns = ["sender_birth_date"])

(         index    tx_id  sender_account_id  receiver_account_id tx_amount  \
 0            1     1829                NaN               9011.0    117.83
 1            2     1830                NaN               7140.0    117.83
 2            3     3166             9921.0               7000.0    267.58
 3            4     2039             8690.0               7000.0    138.89
 4            5     1834             2121.0               6042.0     21.21
 ...        ...      ...                ...                  ...       ...
 426545  426546  1317920             5102.0               3733.0      20.4
 426546  426547  1319427             4543.0               4112.0    522.46
 426547  426548  1322319             4632.0               1110.0    162.88
 426548  426549  1320127             4521.0               8882.0    462.04
 426549  426550  1317252             5083.0                  NaN     11.68

          timestamp tx_type sender_bank_id sender_first_name sender_last_name  \
 0       2018-03-03    WIRE              B              Kurt          Brignac
 1       2018-03-03    WIRE              B              Kurt          Brignac
 2       2018-03-03    WIRE              A            Joseph          Dewaard
 3       2018-03-03    WIRE              A            Philip            Smith
 4       2018-03-03    WIRE              A         Gabrielle            Evans
 ...            ...     ...            ...               ...              ...
 426545  2021-12-25   CHECK              A              Eula         Thomason
 426546  2021-12-25    WIRE              A         Christine           Firman
 426547  2021-12-25    WIRE              A            Brenda          Barnard
 426548  2021-12-25    WIRE              A             James            Laday
 426549  2021-12-25    WIRE              A            Johnny           Miller

         ... receiver_first_name receiver_last_name  receiver_country_code  \
 0       ...              Joseph              Gable                     FR
 1       ...             Shelley            Spencer                     FR
 2       ...             Heather           Burnside                     FR
 3       ...             Heather           Burnside                     FR
 4       ...                Gene             Miller                     FR
 ...     ...                 ...                ...                    ...
 426545  ...             Breanne           Reynolds                     FR
 426546  ...               Eddie             Kramer                     FR
 426547  ...               Misty              Sills                     FR
 426548  ...             Richard            Linkous                     FR
 426549  ...                Ruth            Cuadras                     FR

        receiver_birth_date receiver_zip_code is_alert_solo is_alert_pooled  \
 0               1933-12-23             62116         False           False
 1               1944-12-23             34360         False           False
 2               1933-04-10             88130         False           False
 3               1933-04-10             88130         False           False
 4               1943-08-14             55700         False           False
 ...                    ...               ...           ...             ...
 426545          1964-11-18             49520         False           False
 426546          1953-05-24             38360         False           False
 426547          1940-08-24             91530         False           False
 426548          1965-10-13             10150         False           False
 426549          1937-05-23             50470         False           False

              pivot                                                lev  \
 0       1962-09-07  KurtBrignac1962-09-07JosephGable1933-12-23117....
 1       1962-09-07  KurtBrignac1962-09-07ShelleySpencer1944-12-231...
 2       1976-12-31  JosephDewaard1976-12-31HeatherBurnside1933-04-...
 3       1931-02-26  PhilipSmith1931-02-26HeatherBurnside1933-04-10...
 4       1958-04-17  GabrielleEvans1958-04-17GeneMiller1943-08-1421...
 ...            ...                                                ...
 426545  1974-12-09  EulaThomason1974-12-09BreanneReynolds1964-11-1...
 426546  1938-05-16  ChristineFirman1938-05-16EddieKramer1953-05-24...
 426547  1926-08-24  BrendaBarnard1926-08-24MistySills1940-08-24162...
 426548  1936-08-22  JamesLaday1936-08-22RichardLinkous1965-10-1346...
 426549  1969-03-23  JohnnyMiller1969-03-23RuthCuadras1937-05-2311....

         matching
 0              0
 1              0
 2              0
 3              0
 4              0
 ...          ...
 426545         0
 426546         0
 426547         0
 426548         0
 426549         0

 [426550 rows x 24 columns],
          index    tx_id  sender_account_id  receiver_account_id tx_amount  \
 0            1     4318              785.0               8854.0    129.66
 1            2     4319              785.0                  NaN    129.66
 2            3     4320              785.0                  NaN    129.66
 3            4     1028             1595.0               3504.0    449.69
 4            5     4321              785.0                  NaN    129.66
 ...        ...      ...                ...                  ...       ...
 267224  267225  1319838             1414.0               3305.0    521.65
 267225  267226  1317989             2784.0               1624.0    163.36
 267226  267227  1322359                NaN               9145.0    513.78
 267227  267228  1317568             5624.0               4994.0    109.41
 267228  267229  1319710             9694.0               9795.0    105.93

          timestamp tx_type sender_bank_id sender_first_name sender_last_name  \
 0       2018-03-03    WIRE              B             Harry           Alfano
 1       2018-03-03    WIRE              B             Harry           Alfano
 2       2018-03-03    WIRE              B             Harry           Alfano
 3       2018-03-03    WIRE              B           Richard       Cunningham
 4       2018-03-03    WIRE              B             Harry           Alfano
 ...            ...     ...            ...               ...              ...
 267224  2021-12-25   CHECK              B            Joseph            Davis
 267225  2021-12-25    WIRE              B             Jason         Scarlato
 267226  2021-12-25    WIRE              A              Sean             Dunn
 267227  2021-12-25    WIRE              B             Molly             Rady
 267228  2021-12-25    WIRE              B              Mary          Camacho

         ... receiver_last_name receiver_country_code  receiver_birth_date  \
 0       ...             Adkins                    FR           1958-11-07
 1       ...          Arsenault                    FR           1935-03-03
 2       ...          Eberhardt                    FR           1941-04-25
 3       ...             Zepeda                    FR           1928-02-24
 4       ...              Deans                    FR           1942-08-28
 ...     ...                ...                   ...                  ...
 267224  ...           Mcgeorge                    FR           1954-08-23
 267225  ...           Williams                    FR           1964-06-16
 267226  ...              Lakey                    FR           1956-04-07
 267227  ...             Willis                    FR           1928-03-01
 267228  ...              Tapia                    FR           1931-03-11

        receiver_zip_code is_alert_solo is_alert_pooled       pivot  \
 0                  20171         False           False  1939-02-03
 1                  51240         False           False  1939-02-03
 2                  77440         False           False  1939-02-03
 3                   6450         False           False  1919-04-21
 4                  65510         False           False  1939-02-03
 ...                  ...           ...             ...         ...
 267224             56420         False           False  1943-11-28
 267225             82340         False           False  1929-11-15
 267226              7000         False           False  1959-06-16
 267227             10140         False           False  1938-09-21
 267228             85320         False           False  1943-04-08

                                                       lev  matching  distlev
 0       HarryAlfano1939-02-03JohnAdkins1958-11-07129.6...         0        5
 1       HarryAlfano1939-02-03JasonArsenault1935-03-031...         0        5
 2       HarryAlfano1939-02-03WilhelminaEberhardt1941-0...         0        5
 3       RichardCunningham1919-04-21RussellZepeda1928-0...         0        5
 4       HarryAlfano1939-02-03EdithDeans1942-08-28129.6...         0        5
 ...                                                   ...       ...      ...
 267224  JosephDavis1943-11-28DarylMcgeorge1954-08-2352...         0        5
 267225  JasonScarlato1929-11-15TraceyWilliams1964-06-1...         0        5
 267226  SeanDunn1959-06-16MorganLakey1956-04-07513.782...         0        5
 267227  MollyRady1938-09-21AndrewWillis1928-03-01109.4...         0        5
 267228  MaryCamacho1943-04-08LindaTapia1931-03-11105.9...         0        5

 [267229 rows x 25 columns])

In [525]:
interm_lev(['sender_first_name','sender_last_name','sender_birth_date','receiver_first_name','receiver_last_name','receiver_birth_date','tx_amount','timestamp'])

(         index    tx_id  sender_account_id  receiver_account_id tx_amount  \
 0            1     1829                NaN               9011.0    117.83
 1            2     1830                NaN               7140.0    117.83
 2            3     3166             9921.0               7000.0    267.58
 3            4     2039             8690.0               7000.0    138.89
 4            5     1834             2121.0               6042.0     21.21
 ...        ...      ...                ...                  ...       ...
 426545  426546  1317920             5102.0               3733.0      20.4
 426546  426547  1319427             4543.0               4112.0    522.46
 426547  426548  1322319             4632.0               1110.0    162.88
 426548  426549  1320127             4521.0               8882.0    462.04
 426549  426550  1317252             5083.0                  NaN     11.68

          timestamp tx_type sender_bank_id sender_first_name sender_last_name  \
 0       2018-03-03    WIRE              B              Kurt          Brignac
 1       2018-03-03    WIRE              B              Kurt          Brignac
 2       2018-03-03    WIRE              A            Joseph          Dewaard
 3       2018-03-03    WIRE              A            Philip            Smith
 4       2018-03-03    WIRE              A         Gabrielle            Evans
 ...            ...     ...            ...               ...              ...
 426545  2021-12-25   CHECK              A              Eula         Thomason
 426546  2021-12-25    WIRE              A         Christine           Firman
 426547  2021-12-25    WIRE              A            Brenda          Barnard
 426548  2021-12-25    WIRE              A             James            Laday
 426549  2021-12-25    WIRE              A            Johnny           Miller

         ... receiver_first_name receiver_last_name  receiver_country_code  \
 0       ...              Joseph              Gable                     FR
 1       ...             Shelley            Spencer                     FR
 2       ...             Heather           Burnside                     FR
 3       ...             Heather           Burnside                     FR
 4       ...                Gene             Miller                     FR
 ...     ...                 ...                ...                    ...
 426545  ...             Breanne           Reynolds                     FR
 426546  ...               Eddie             Kramer                     FR
 426547  ...               Misty              Sills                     FR
 426548  ...             Richard            Linkous                     FR
 426549  ...                Ruth            Cuadras                     FR

        receiver_birth_date receiver_zip_code is_alert_solo is_alert_pooled  \
 0               1933-12-23             62116         False           False
 1               1944-12-23             34360         False           False
 2               1933-04-10             88130         False           False
 3               1933-04-10             88130         False           False
 4               1943-08-14             55700         False           False
 ...                    ...               ...           ...             ...
 426545          1964-11-18             49520         False           False
 426546          1953-05-24             38360         False           False
 426547          1940-08-24             91530         False           False
 426548          1965-10-13             10150         False           False
 426549          1937-05-23             50470         False           False

              pivot                                                lev  \
 0       1962-09-07  KurtBrignac1962-09-07JosephGable1933-12-23117....
 1       1962-09-07  KurtBrignac1962-09-07ShelleySpencer1944-12-231...
 2       1976-12-31  JosephDewaard1976-12-31HeatherBurnside1933-04-...
 3       1931-02-26  PhilipSmith1931-02-26HeatherBurnside1933-04-10...
 4       1958-04-17  GabrielleEvans1958-04-17GeneMiller1943-08-1421...
 ...            ...                                                ...
 426545  1974-12-09  EulaThomason1974-12-09BreanneReynolds1964-11-1...
 426546  1938-05-16  ChristineFirman1938-05-16EddieKramer1953-05-24...
 426547  1926-08-24  BrendaBarnard1926-08-24MistySills1940-08-24162...
 426548  1936-08-22  JamesLaday1936-08-22RichardLinkous1965-10-1346...
 426549  1969-03-23  JohnnyMiller1969-03-23RuthCuadras1937-05-2311....

         matching
 0              0
 1              0
 2              0
 3              0
 4              0
 ...          ...
 426545         0
 426546         0
 426547         0
 426548         0
 426549         0

 [426550 rows x 24 columns],
          index    tx_id  sender_account_id  receiver_account_id tx_amount  \
 0            1     4318              785.0               8854.0    129.66
 1            2     4319              785.0                  NaN    129.66
 2            3     4320              785.0                  NaN    129.66
 3            4     1028             1595.0               3504.0    449.69
 4            5     4321              785.0                  NaN    129.66
 ...        ...      ...                ...                  ...       ...
 267224  267225  1319838             1414.0               3305.0    521.65
 267225  267226  1317989             2784.0               1624.0    163.36
 267226  267227  1322359                NaN               9145.0    513.78
 267227  267228  1317568             5624.0               4994.0    109.41
 267228  267229  1319710             9694.0               9795.0    105.93

          timestamp tx_type sender_bank_id sender_first_name sender_last_name  \
 0       2018-03-03    WIRE              B             Harry           Alfano
 1       2018-03-03    WIRE              B             Harry           Alfano
 2       2018-03-03    WIRE              B             Harry           Alfano
 3       2018-03-03    WIRE              B           Richard       Cunningham
 4       2018-03-03    WIRE              B             Harry           Alfano
 ...            ...     ...            ...               ...              ...
 267224  2021-12-25   CHECK              B            Joseph            Davis
 267225  2021-12-25    WIRE              B             Jason         Scarlato
 267226  2021-12-25    WIRE              A              Sean             Dunn
 267227  2021-12-25    WIRE              B             Molly             Rady
 267228  2021-12-25    WIRE              B              Mary          Camacho

         ... receiver_last_name receiver_country_code  receiver_birth_date  \
 0       ...             Adkins                    FR           1958-11-07
 1       ...          Arsenault                    FR           1935-03-03
 2       ...          Eberhardt                    FR           1941-04-25
 3       ...             Zepeda                    FR           1928-02-24
 4       ...              Deans                    FR           1942-08-28
 ...     ...                ...                   ...                  ...
 267224  ...           Mcgeorge                    FR           1954-08-23
 267225  ...           Williams                    FR           1964-06-16
 267226  ...              Lakey                    FR           1956-04-07
 267227  ...             Willis                    FR           1928-03-01
 267228  ...              Tapia                    FR           1931-03-11

        receiver_zip_code is_alert_solo is_alert_pooled       pivot  \
 0                  20171         False           False  1939-02-03
 1                  51240         False           False  1939-02-03
 2                  77440         False           False  1939-02-03
 3                   6450         False           False  1919-04-21
 4                  65510         False           False  1939-02-03
 ...                  ...           ...             ...         ...
 267224             56420         False           False  1943-11-28
 267225             82340         False           False  1929-11-15
 267226              7000         False           False  1959-06-16
 267227             10140         False           False  1938-09-21
 267228             85320         False           False  1943-04-08

                                                       lev  matching  distlev
 0       HarryAlfano1939-02-03JohnAdkins1958-11-07129.6...         0        5
 1       HarryAlfano1939-02-03JasonArsenault1935-03-031...         0        5
 2       HarryAlfano1939-02-03WilhelminaEberhardt1941-0...         0        5
 3       RichardCunningham1919-04-21RussellZepeda1928-0...         0        5
 4       HarryAlfano1939-02-03EdithDeans1942-08-28129.6...         0        5
 ...                                                   ...       ...      ...
 267224  JosephDavis1943-11-28DarylMcgeorge1954-08-2352...         0        5
 267225  JasonScarlato1929-11-15TraceyWilliams1964-06-1...         0        5
 267226  SeanDunn1959-06-16MorganLakey1956-04-07513.782...         0        5
 267227  MollyRady1938-09-21AndrewWillis1928-03-01109.4...         0        5
 267228  MaryCamacho1943-04-08LindaTapia1931-03-11105.9...         0        5

 [267229 rows x 25 columns])

In [410]:
df_A

,index,tx_id,sender_account_id,receiver_account_id,tx_amount,timestamp,tx_type,sender_bank_id,sender_first_name,sender_last_name,...,receiver_first_name,receiver_last_name,receiver_country_code,receiver_birth_date,receiver_zip_code,is_alert_solo,is_alert_pooled,pivot,lev,matching
0,1,1829,NaN,9011.0,117.83,2018-03-03,WIRE,B,Kurt,Brignac,...,Joseph,Gable,FR,1933-12-23,62116,False,False,1962-09-07,KurtBrignac1962-09-07JosephGable1933-12-23117....,0
1,2,1830,NaN,7140.0,117.83,2018-03-03,WIRE,B,Kurt,Brignac,...,Shelley,Spencer,FR,1944-12-23,34360,False,False,1962-09-07,KurtBrignac1962-09-07ShelleySpencer1944-12-231...,0
2,3,3166,9921.0,7000.0,267.58,2018-03-03,WIRE,A,Joseph,Dewaard,...,Heather,Burnside,FR,1933-04-10,88130,False,False,1976-12-31,JosephDewaard1976-12-31HeatherBurnside1933-04-...,0
3,4,2039,8690.0,7000.0,138.89,2018-03-03,WIRE,A,Philip,Smith,...,Heather,Burnside,FR,1933-04-10,88130,False,False,1931-02-26,PhilipSmith1931-02-26HeatherBurnside1933-04-10...,0
4,5,1834,2121.0,6042.0,21.21,2018-03-03,WIRE,A,Gabrielle,Evans,...,Gene,Miller,FR,1943-08-14,55700,False,False,1958-04-17,GabrielleEvans1958-04-17GeneMiller1943-08-1421...,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426545,426546,1317920,5102.0,3733.0,20.4,2021-12-25,CHECK,A,Eula,Thomason,...,Breanne,Reynolds,FR,1964-11-18,49520,False,False,1974-12-09,EulaThomason1974-12-09BreanneReynolds1964-11-1...,0
426546,426547,1319427,4543.0,4112.0,522.46,2021-12-25,WIRE,A,Christine,Firman,...,Eddie,Kramer,FR,1953-05-24,38360,False,False,1938-05-16,ChristineFirman1938-05-16EddieKramer1953-05-24...,0
426547,426548,1322319,4632.0,1110.0,162.88,2021-12-25,WIRE,A,Brenda,Barnard,...,Misty,Sills,FR,1940-08-24,91530,False,False,1926-08-24,BrendaBarnard1926-08-24MistySills1940-08-24162...,0
426548,426549,1320127,4521.0,8882.0,462.04,2021-12-25,WIRE,A,James,Laday,...,Richard,Linkous,FR,1965-10-13,10150,False,False,1936-08-22,JamesLaday1936-08-22RichardLinkous1965-10-1346...,0
426549,426550,1317252,5083.0,NaN,11.68,2021-12-25,WIRE,A,Johnny,Miller,...,Ruth,Cuadras,FR,1937-05-23,50470,False,False,1969-03-23,JohnnyMiller1969-03-23RuthCuadras1937-05-2311....,0

In [526]:
# Create a new column 'index' with indexes from 1 to the length of the DataFrame
df_A.insert(0,'index',range(1, len(df_A) + 1))

ValueError: cannot insert index, already exists

In [527]:
# Create a new column 'index' with indexes from 1 to the length of the DataFrame
df_B.insert(0,'index',range(1, len(df_B) + 1))

ValueError: cannot insert index, already exists

In [528]:
df_A["matching"] = 0
df_B["matching"] = 0

In [414]:
df_A

,index,tx_id,sender_account_id,receiver_account_id,tx_amount,timestamp,tx_type,sender_bank_id,sender_first_name,sender_last_name,...,receiver_first_name,receiver_last_name,receiver_country_code,receiver_birth_date,receiver_zip_code,is_alert_solo,is_alert_pooled,pivot,lev,matching
0,1,1829,NaN,9011.0,117.83,2018-03-03,WIRE,B,Kurt,Brignac,...,Joseph,Gable,FR,1933-12-23,62116,False,False,1962-09-07,KurtBrignac1962-09-07JosephGable1933-12-23117....,0
1,2,1830,NaN,7140.0,117.83,2018-03-03,WIRE,B,Kurt,Brignac,...,Shelley,Spencer,FR,1944-12-23,34360,False,False,1962-09-07,KurtBrignac1962-09-07ShelleySpencer1944-12-231...,0
2,3,3166,9921.0,7000.0,267.58,2018-03-03,WIRE,A,Joseph,Dewaard,...,Heather,Burnside,FR,1933-04-10,88130,False,False,1976-12-31,JosephDewaard1976-12-31HeatherBurnside1933-04-...,0
3,4,2039,8690.0,7000.0,138.89,2018-03-03,WIRE,A,Philip,Smith,...,Heather,Burnside,FR,1933-04-10,88130,False,False,1931-02-26,PhilipSmith1931-02-26HeatherBurnside1933-04-10...,0
4,5,1834,2121.0,6042.0,21.21,2018-03-03,WIRE,A,Gabrielle,Evans,...,Gene,Miller,FR,1943-08-14,55700,False,False,1958-04-17,GabrielleEvans1958-04-17GeneMiller1943-08-1421...,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426545,426546,1317920,5102.0,3733.0,20.4,2021-12-25,CHECK,A,Eula,Thomason,...,Breanne,Reynolds,FR,1964-11-18,49520,False,False,1974-12-09,EulaThomason1974-12-09BreanneReynolds1964-11-1...,0
426546,426547,1319427,4543.0,4112.0,522.46,2021-12-25,WIRE,A,Christine,Firman,...,Eddie,Kramer,FR,1953-05-24,38360,False,False,1938-05-16,ChristineFirman1938-05-16EddieKramer1953-05-24...,0
426547,426548,1322319,4632.0,1110.0,162.88,2021-12-25,WIRE,A,Brenda,Barnard,...,Misty,Sills,FR,1940-08-24,91530,False,False,1926-08-24,BrendaBarnard1926-08-24MistySills1940-08-24162...,0
426548,426549,1320127,4521.0,8882.0,462.04,2021-12-25,WIRE,A,James,Laday,...,Richard,Linkous,FR,1965-10-13,10150,False,False,1936-08-22,JamesLaday1936-08-22RichardLinkous1965-10-1346...,0
426549,426550,1317252,5083.0,NaN,11.68,2021-12-25,WIRE,A,Johnny,Miller,...,Ruth,Cuadras,FR,1937-05-23,50470,False,False,1969-03-23,JohnnyMiller1969-03-23RuthCuadras1937-05-2311....,0

In [ ]:
df_B["pivot"]

In [ ]:
def poolbis(df1,df2,columns,d,discr):
    df1,df2 = interm_pivot(columns)
    df2["distlev"]=d+1
    for i in range(len(df1)):
        if i%1==0:
            print(i)
        for j in range(len(df2)):
            df2["distlev"]=Levenshtein.distance(df1["pivot"][i], df2["pivot"][j])
            if j%100000==0:
                print(j)
        dfB_sub = df2[df2["distlev"] <= d]
        print(dfB_sub)
        for j in range(len(df2)):  
            lev = []
            for k in range(len(dfB_sub)): 
                dist_lev = Levenshtein.distance(df1["lev"][i], df2["lev"][k])
                lev.append(dist_lev)
                if min(dist_lev) >= discr:
                    id_ = dfB_sub["index"][np.argmin(lev)]
                    df1["matching"][i] = [df1["index"][i],id_]
    return df1

In [446]:
Levenshtein.distance(df_A["lev"][391], df_B["lev"][10])

32

In [465]:
df_B["index"][4]

5

In [529]:
def pool(df1,df2,columns,discr):
    df1,df2 = interm_pivot(columns)
    for i in range(len(df1)):
        dfB_sub = df2[df2["pivot"] == df1["pivot"][i]]
        if i%1000==0:
            print(i)  
        for k in range(len(dfB_sub)): 
            d = discr+1
            idm = 0
            dist_lev = Levenshtein.distance(df1["lev"][i], df2["lev"][k])
            if dist_lev < d:
                idm=dfB_sub["index"][k]
                d = dist_lev
        if idm <= discr:
            df1["matching"][i] = idm  
    return df1

In [530]:
df = df_A.merge(df_B, on = 'tx_id')

In [531]:
df2 = df.sample(n=1000)

In [532]:
df2.loc[]

SyntaxError: invalid syntax (2232326206.py, line 1)

In [535]:
df_A_test

,index,tx_id,sender_account_id,receiver_account_id,tx_amount,timestamp,tx_type,sender_bank_id,sender_first_name,sender_last_name,...,receiver_first_name,receiver_last_name,receiver_country_code,receiver_birth_date,receiver_zip_code,is_alert_solo,is_alert_pooled,pivot,lev,matching
68,69,1764,NaN,6490.0,197.97,2018-03-03,WIRE,B,Norma,Singletary,...,Evelyn,Worley,FR,1946-10-18,54370,False,False,1945-06-07,NormaSingletary1945-06-07EvelynWorley1946-10-1...,0
115,116,2145,4483.0,NaN,443.0,2018-03-03,WIRE,A,Sonia,Mccartney,...,Roy,Henderlite,FR,1942-01-04,54160,False,False,1924-07-20,SoniaMccartney1924-07-20RoyHenderlite1942-01-0...,0
539,540,2217,NaN,4040.0,185.8,2018-03-03,WIRE,B,Lisa,Swain,...,Lin,Emerson,FR,1953-09-14,67330,False,False,1954-01-13,LisaSwain1954-01-13LinEmerson1953-09-14185.820...,0
608,609,2689,NaN,5472.0,564.3,2018-03-03,WIRE,B,Rochelle,Modesto,...,Louis,Walker,FR,1921-09-27,45520,False,False,1931-10-27,RochelleModesto1931-10-27LouisWalker1921-09-27...,0
911,912,126,1752.0,NaN,102.19,2018-03-03,WIRE,A,Miguel,Hart,...,Sandra,Jackson,FR,1932-02-01,97330,False,False,1946-09-08,MiguelHart1946-09-08SandraJackson1932-02-01102...,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
424266,424267,1312337,9782.0,NaN,132.44,2021-12-18,WIRE,A,Angela,Barker,...,Douglas,Heling,FR,1963-05-14,54260,False,False,1937-05-15,AngelaBarker1937-05-15DouglasHeling1963-05-141...,0
424313,424314,1313950,8631.0,NaN,194.63,2021-12-18,WIRE,A,Bobbie,Sanner,...,Stacey,Marquez,FR,1922-01-31,79170,False,False,1940-10-18,BobbieSanner1940-10-18StaceyMarquez1922-01-311...,0
426042,426043,1321624,NaN,9752.0,183.69,2021-12-25,WIRE,B,Samatha,Jones,...,Maria,Mansfield,FR,1933-02-09,19380,False,False,1931-12-07,SamathaJones1931-12-07MariaMansfield1933-02-09...,0
426434,426435,1317660,1532.0,NaN,408.08,2021-12-25,WIRE,A,Latoria,Richardson,...,Grace,Crazier,FR,1940-02-06,62840,False,False,1953-10-23,LatoriaRichardson1953-10-23GraceCrazier1940-02...,0
426514,426515,1316379,8530.0,NaN,515.1,2021-12-25,WIRE,A,Luis,Owens,...,James,Smith,FR,1930-09-30,70300,False,False,1930-10-12,LuisOwens1930-10-12JamesSmith1930-09-30515.120...,0

In [537]:
df_A_test = df_A.loc[df_A['tx_id'].isin(df2['tx_id'])]
df_B_test = df_B.loc[df_B['tx_id'].isin(df2['tx_id'])]

In [534]:
pool(df_A_test,df_B_test,columns = ['sender_birth_date'] ,discr = 5)

0

/var/folders/1c/nkg3ybs11lj6wgwvnb16pdl80000gn/T/ipykernel_93233/982951089.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["matching"][i] = idm

1000
2000
3000

KeyboardInterrupt:

In [536]:
df_A_test = pool(df_A_test,df_B_test,columns = ['sender_birth_date'] ,discr = 5)

precision(df_A_test,df_B_test)

NameError: name 'dfpool' is not defined

In [487]:
def precision(df1,df2):
    count = 0
    for i in range(len(df1)):
        if df1['tx_id'][i] == df2['tx_id'][df1['matching'][i]]:
            count += 1
    return count/len(df1)

False

In [477]:
pool(df_A,df_B,columns = ["sender_birth_date", "receiver_birth_date","timestamp"], discr = 5)

0

/var/folders/1c/nkg3ybs11lj6wgwvnb16pdl80000gn/T/ipykernel_93233/2662796782.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["matching"][i] = idm

100
200
300

KeyboardInterrupt:

In [455]:
df_A

,index,tx_id,sender_account_id,receiver_account_id,tx_amount,timestamp,tx_type,sender_bank_id,sender_first_name,sender_last_name,...,receiver_first_name,receiver_last_name,receiver_country_code,receiver_birth_date,receiver_zip_code,is_alert_solo,is_alert_pooled,pivot,lev,matching
0,1,1829,NaN,9011.0,117.83,2018-03-03,WIRE,B,Kurt,Brignac,...,Joseph,Gable,FR,1933-12-23,62116,False,False,1962-09-07,KurtBrignac1962-09-07JosephGable1933-12-23117....,0
1,2,1830,NaN,7140.0,117.83,2018-03-03,WIRE,B,Kurt,Brignac,...,Shelley,Spencer,FR,1944-12-23,34360,False,False,1962-09-07,KurtBrignac1962-09-07ShelleySpencer1944-12-231...,0
2,3,3166,9921.0,7000.0,267.58,2018-03-03,WIRE,A,Joseph,Dewaard,...,Heather,Burnside,FR,1933-04-10,88130,False,False,1976-12-31,JosephDewaard1976-12-31HeatherBurnside1933-04-...,0
3,4,2039,8690.0,7000.0,138.89,2018-03-03,WIRE,A,Philip,Smith,...,Heather,Burnside,FR,1933-04-10,88130,False,False,1931-02-26,PhilipSmith1931-02-26HeatherBurnside1933-04-10...,0
4,5,1834,2121.0,6042.0,21.21,2018-03-03,WIRE,A,Gabrielle,Evans,...,Gene,Miller,FR,1943-08-14,55700,False,False,1958-04-17,GabrielleEvans1958-04-17GeneMiller1943-08-1421...,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426545,426546,1317920,5102.0,3733.0,20.4,2021-12-25,CHECK,A,Eula,Thomason,...,Breanne,Reynolds,FR,1964-11-18,49520,False,False,1974-12-09,EulaThomason1974-12-09BreanneReynolds1964-11-1...,0
426546,426547,1319427,4543.0,4112.0,522.46,2021-12-25,WIRE,A,Christine,Firman,...,Eddie,Kramer,FR,1953-05-24,38360,False,False,1938-05-16,ChristineFirman1938-05-16EddieKramer1953-05-24...,0
426547,426548,1322319,4632.0,1110.0,162.88,2021-12-25,WIRE,A,Brenda,Barnard,...,Misty,Sills,FR,1940-08-24,91530,False,False,1926-08-24,BrendaBarnard1926-08-24MistySills1940-08-24162...,0
426548,426549,1320127,4521.0,8882.0,462.04,2021-12-25,WIRE,A,James,Laday,...,Richard,Linkous,FR,1965-10-13,10150,False,False,1936-08-22,JamesLaday1936-08-22RichardLinkous1965-10-1346...,0
426549,426550,1317252,5083.0,NaN,11.68,2021-12-25,WIRE,A,Johnny,Miller,...,Ruth,Cuadras,FR,1937-05-23,50470,False,False,1969-03-23,JohnnyMiller1969-03-23RuthCuadras1937-05-2311....,0

In [438]:
poolbis(df_A,df_B,columns = ["sender_birth_date"],d = 2,discr = 4)

NameError: name 'poolbis' is not defined

In [456]:
pool(df_A,df_B,columns = ["sender_birth_date"], discr = 5)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390

/var/folders/1c/nkg3ybs11lj6wgwvnb16pdl80000gn/T/ipykernel_93233/1468702530.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["matching"][i] = [df1["index"][i],id_]
/Users/sachaapelbaum/opt/anaconda3/lib/python3.9/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

ValueError: setting an array element with a sequence.

In [432]:
df_B[df_B["pivot"]=="1962-09-07"]

,index,tx_id,sender_account_id,receiver_account_id,tx_amount,timestamp,tx_type,sender_bank_id,sender_first_name,sender_last_name,...,receiver_last_name,receiver_country_code,receiver_birth_date,receiver_zip_code,is_alert_solo,is_alert_pooled,pivot,lev,matching,distlev
240,241,1823,5754.0,NaN,117.83,2018-03-03,CHECK,B,Kurt,Brignac,...,Sanchez,FR,1918-07-18,17360,False,False,1962-09-07,KurtBrignac1962-09-07RossSanchez1918-07-18117....,0,5
604,605,1828,5754.0,NaN,117.83,2018-03-03,WIRE,B,Kurt,Brignac,...,Sanchez,FR,1959-09-27,90800,False,False,1962-09-07,KurtBrignac1962-09-07TristanSanchez1959-09-271...,0,5
723,724,1830,5754.0,NaN,117.83,2018-03-03,WIRE,B,Kurt,Brignac,...,Spencer,FR,1944-12-23,34360,False,False,1962-09-07,KurtBrignac1962-09-07ShelleySpencer1944-12-231...,0,5
724,725,1829,5754.0,NaN,117.83,2018-03-03,WIRE,B,Kurt,Brignac,...,Gable,FR,1933-12-23,62116,False,False,1962-09-07,KurtBrignac1962-09-07JosephGable1933-12-23117....,0,5
725,726,1825,5754.0,NaN,117.83,2018-03-03,WIRE,B,Kurt,Brignac,...,Joseph,FR,1917-01-25,34760,False,False,1962-09-07,KurtBrignac1962-09-07DeniseJoseph1917-01-25117...,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254857,254858,1256569,5754.0,NaN,117.83,2021-10-23,WIRE,B,Kurt,Brignac,...,Gable,FR,1933-12-23,62116,False,False,1962-09-07,KurtBrignac1962-09-07JosephGable1933-12-23117....,0,5
254883,254884,1256565,5754.0,NaN,117.83,2021-10-23,WIRE,B,Kurt,Brignac,...,Joseph,FR,1917-01-25,34760,False,False,1962-09-07,KurtBrignac1962-09-07DeniseJoseph1917-01-25117...,0,5
254917,254918,1256562,5754.0,8794.0,117.83,2021-10-23,WIRE,B,Kurt,Brignac,...,Mcmorris,FR,1941-05-06,30190,False,False,1962-09-07,KurtBrignac1962-09-07EmmaMcmorris1941-05-06117...,0,5
254946,254947,1256570,5754.0,NaN,117.83,2021-10-23,WIRE,B,Kurt,Brignac,...,Spencer,FR,1944-12-23,34360,False,False,1962-09-07,KurtBrignac1962-09-07ShelleySpencer1944-12-231...,0,5
254981,254982,1256564,5754.0,NaN,117.83,2021-10-23,WIRE,B,Kurt,Brignac,...,Spain,FR,1930-02-06,2220,False,False,1962-09-07,KurtBrignac1962-09-07CarolSpain1930-02-06117.8...,0,5

In [ ]:
df_A[df_A["index" = 389]

,index,tx_id,sender_account_id,receiver_account_id,tx_amount,timestamp,tx_type,sender_bank_id,sender_first_name,sender_last_name,...,receiver_first_name,receiver_last_name,receiver_country_code,receiver_birth_date,receiver_zip_code,is_alert_solo,is_alert_pooled,pivot,lev,matching
390,391,3357,NaN,8470.0,134.86,2018-03-03,WIRE,B,Myong,Byrd,...,James,Manns,FR,1980-01-17,11400,False,False,1918-05-14,MyongByrd1918-05-14JamesManns1980-01-17134.862...,0

In [133]:
df_A

,index,tx_id,sender_account_id,receiver_account_id,tx_amount,timestamp,tx_type,sender_bank_id,sender_first_name,sender_last_name,...,receiver_bank_id,receiver_first_name,receiver_last_name,receiver_country_code,receiver_birth_date,receiver_zip_code,is_alert_solo,is_alert_pooled,pivot,lev
1,1,1829,NaN,9011.0,117.83,2018-03-03,WIRE,B,Kurt,Brignac,...,A,Joseph,Gable,FR,1933-12-23,62116,False,False,KurtBrignac1962-09-07,KurtBrignac1962-09-07JosephGable1933-12-23117....
2,2,1830,NaN,7140.0,117.83,2018-03-03,WIRE,B,Kurt,Brignac,...,A,Shelley,Spencer,FR,1944-12-23,34360,False,False,KurtBrignac1962-09-07,KurtBrignac1962-09-07ShelleySpencer1944-12-231...
5,3,3166,9921.0,7000.0,267.58,2018-03-03,WIRE,A,Joseph,Dewaard,...,A,Heather,Burnside,FR,1933-04-10,88130,False,False,JosephDewaard1976-12-31,JosephDewaard1976-12-31HeatherBurnside1933-04-...
6,4,2039,8690.0,7000.0,138.89,2018-03-03,WIRE,A,Philip,Smith,...,A,Heather,Burnside,FR,1933-04-10,88130,False,False,PhilipSmith1931-02-26,PhilipSmith1931-02-26HeatherBurnside1933-04-10...
9,5,1834,2121.0,6042.0,21.21,2018-03-03,WIRE,A,Gabrielle,Evans,...,A,Gene,Miller,FR,1943-08-14,55700,False,False,GabrielleEvans1958-04-17,GabrielleEvans1958-04-17GeneMiller1943-08-1421...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
837971,426546,1317920,5102.0,3733.0,20.4,2021-12-25,CHECK,A,Eula,Thomason,...,A,Breanne,Reynolds,FR,1964-11-18,49520,False,False,EulaThomason1974-12-09,EulaThomason1974-12-09BreanneReynolds1964-11-1...
837972,426547,1319427,4543.0,4112.0,522.46,2021-12-25,WIRE,A,Christine,Firman,...,A,Eddie,Kramer,FR,1953-05-24,38360,False,False,ChristineFirman1938-05-16,ChristineFirman1938-05-16EddieKramer1953-05-24...
837974,426548,1322319,4632.0,1110.0,162.88,2021-12-25,WIRE,A,Brenda,Barnard,...,A,Misty,Sills,FR,1940-08-24,91530,False,False,BrendaBarnard1926-08-24,BrendaBarnard1926-08-24MistySills1940-08-24162...
837976,426549,1320127,4521.0,8882.0,462.04,2021-12-25,WIRE,A,James,Laday,...,A,Richard,Linkous,FR,1965-10-13,10150,False,False,JamesLaday1936-08-22,JamesLaday1936-08-22RichardLinkous1965-10-1346...
837977,426550,1317252,5083.0,NaN,11.68,2021-12-25,WIRE,A,Johnny,Miller,...,B,Ruth,Cuadras,FR,1937-05-23,50470,False,False,JohnnyMiller1969-03-23,JohnnyMiller1969-03-23RuthCuadras1937-05-2311....